<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetWork"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".activities.MainActivity_old"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.PaymentConfirmActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.PaymentHistoryActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.CreatePaymentInformationActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.ReadPaymentInformationActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.UpdatePaymentInfoActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.DeletePaymentInformationActivity"
            android:theme="@style/Theme.GetWork"
            android:exported="true">
        </activity>

<!--        user-->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InsertionActivity"
            android:exported="true"/>

        <activity
            android:name="activites.FetchingActivity"
            android:exported="true"/>

        <activity
            android:name=".EmployeeDetailsActivity"
            android:exported="true"/>

        <activity
            android:name=".MainActivity2"
            android:exported="true">

        </activity>
    </application>

</manifest>